.postarea-style{
	line-height: 1.7em;
	color: 000;
}
.plan-movie1{
	margin: 30px auto 0;
}
.plan-movie1_discription{
	margin: 4px 0 16px 0;
	font-size: 13px;
}
.plan-movie2{
	margin: 0 auto;
}
.other-movie{
	text-align: center;
	margin-bottom: 35px;
}
